body {
  height: 100vh;
  max-width: 100vw;
  background-color: var(--kiogrey);
  background-image: url("/kio-assets/kio_layer1_background_o.svg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow-x: hidden;
}
