header {
  max-height: 150px;
  max-width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 33vw;
    max-height: 100px;
    margin-right: auto;
    object-fit: contain;
  }
  .language-options {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    margin: 0 1rem;
    button {
      padding: 0.5rem;
      background-color: transparent;
      border: none;
      color: black;
      transition: background-color 0.3s;
      border: 2px solid transparent;
      &:hover {
        background-color: var(--primary);
        border: 2px solid white;
        color: black;
      }
      &.active {
        border-bottom: 2px solid black;
      }
    }
  }
}
