* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  &::selection {
    color: black;
    background-color: var(--primary);
  }
}
